.badge {
    height: 6em;
    width: 6em;
    border: 1em white;
    line-height: 4.5em;
}
body {
    background-color: lightgray;
}
.display-4 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    padding-top: 1em;
}
.lead {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    padding: 1em 0;
}
.small-circles {
    width: 18px;
    height:18px;
    line-height: 18px;
}

.d-circle {
    background-color: #E6563B;
    font-family: 'Anton', sans-serif;
}

.d-circle-2 {
    background-color: #eb9d3a;
    font-family: 'Anton', sans-serif;
}

.s-circle {
    background-color: #7cb06c;
    font-family: 'Anton', sans-serif;
}

.h-circle {
    background-color: #00aba9;
    font-family: 'Anton', sans-serif;
}

