.badge {
    height: 8em;
    width: 8em;
    border: 1em white;
    line-height: 6.5em;
}
body {
    background-color: #F0F0F0;
}
.display-3 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    padding-top: 1em;
}

.lead {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    padding: 1em 0;
}
.small-circles {
    width: 18px;
    height:18px;
    line-height: 18px;
}

.d-circle {
    background-color: #E6563B;
    font-family: 'Anton', sans-serif;
}

.d-circle-2 {
    background-color: #eb9d3a;
    font-family: 'Anton', sans-serif;
}

.s-circle {
    background-color: #7cb06c;
    font-family: 'Anton', sans-serif;
}

.h-circle {
    background-color: #00aba9;
    font-family: 'Anton', sans-serif;
}

h4 {
    font-family: 'Anton', sans-serif;
}

.our-small {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
}
.design {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    background-color: #E6563B;
}

.develop {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    background-color: #eb9d3a;
}

.support {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    background-color: #7cb06c;
}

.host {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    background-color: #00aba9;
}
.navbar {
    background-color: #F0F0F0;
}
.nav-link {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
}
.four {
    border-color: #E6E6E6 !important;
}


.easter-egg {
    display: none;
}

@media screen and (min-width:1352px) and (max-width: 1352px){
        .easter-egg {
            display: block;
            margin: 0 auto;
        }

}

@media screen and (min-width:768px) {
    .title-container {
        border-bottom: 2px solid #d4d5d5;
    }
}